<div class="container">
    <header class="d-flex flex-wrap py-3 mb-4 border-bottom" style="justify-content: end;">
        <div class="col-md-5" style="text-align: end;">
            <h2>{{correo}}</h2>
        </div>
        <div class="col-md-2">
            <button (click)="cerrarSesion()" class="btn btn-primary">Cerrar Sesión</button>
        </div>
    </header>
</div>
<div style="text-align:center">
    <h1>
      Bienvenid@
    </h1>
    <mat-form-field>
      <mat-label>Ordenar por</mat-label>
      <mat-select>
        <mat-option value="option1"  (click)="ordenarPorTitulo()">Título</mat-option>
        <mat-option value="option2" (click)="ordenarPorFechaLanzamiento()">Fecha de Lanzamiento</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    
    <div class="peliculas-container">
      <mat-card *ngFor="let pelicula of peliculas" class="pelicula-card">
        <img mat-card-image [src]="pelicula.png" alt="{{ pelicula.Title }}" (click)="irADetallesPelicula(pelicula.id)" />
        <mat-card-content class="pelicula-details">
          <h3>{{ pelicula.Title }}</h3>
          <p>{{ pelicula.Description }}</p>
          <p>Rating: {{ pelicula.Rating }}</p>
          <p>Duración: {{ pelicula.Duration }}</p>
          <p>Genero: {{ pelicula.Genre }}</p>
          <p>Fecha de Lanzamiento: {{ pelicula.Released_date }}</p>
          <button mat-raised-button color="primary" (click)="estaEnListaObservacion(pelicula) ? quitarDeListaObservacion(pelicula) : agregarAListaObservacion(pelicula)">
            {{ estaEnListaObservacion(pelicula) ? 'Quitar de la lista' : 'Agregar a la lista' }}
          </button>
          <span *ngIf="estaEnListaObservacion(pelicula)">En mi lista de seguimiento</span>
        </mat-card-content>
      </mat-card>
    </div>