<div class="row centrar">
    <div class="col-md-6 form-edit">
        <h2 class="mb-5">EDITAR</h2>
        <form [formGroup]="formEdit">
        <div class="row">
            <div class="col-md-12 mb-3">
                <mat-form-field style="width: 100%;">
                    <mat-label>Title</mat-label>
                    <input required formControlName="title" matInput value="" minlength="3">
                    <mat-error>Error campo vacio o con menos de 3 caracteres</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 mb-3">
                <mat-form-field style="width: 100%;">
                    <mat-label>Body</mat-label>
                    <textarea matInput required formControlName="body" 
                    cdkTextareaAutosize cdkAutosizeMinRows="1"cdkAutosizeMaxRows="5" value="" minlength="3">
                    </textarea>
                    <mat-error>Error campo vacio o con menos de 3 caracteres</mat-error>
                </mat-form-field>
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block mb-3" [disabled]="formEdit.invalid" (click)="edit(formEdit.get('title')!.value, formEdit.get('body')!.value)">Guardar</button>
        </form>
   </div>
</div>